textarea,input{
    outline: none;
}

.container{
    width: 530px;
    height: 623px;
    margin-top: 50px;
    background: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 0 15px 5px #adadad;
    list-style: none;
}

.title{
    width: 40%;
    height: 10%;
    top: 30px;
    left: 30px; 
    position: relative;
}

.container-form{
    left: 30px;
    position: relative;  

    .input{
        width: 86%;
        height: 30px;
        margin-bottom: 15px;
        padding-left: 10px;
        border: 1px solid cadetblue;
        border-radius: 12px;
    }

    .select-preferred{
        font-weight: 700;
    }

    .radio{
       display: flex; 
       margin-bottom: 16px;

       .margin{
        margin-left: 18px;
       }
    }

    .textarea{
        width: 86%;
        max-width: 450px;
        max-height: 180px;
        padding: 5px 0px 0px 10px;
        border: 1px solid cadetblue;
        border-radius: 12px;
        height: 150px;
    }

    .btn-submit{
        width: 88%;
        height: 38px;
        border: none;
        border-radius: 30px;
        margin-top: 60px;
        color: #fff;
        background: cadetblue;
        font-weight: 700;

        &:hover{
        background: rgb(68, 112, 114);
        }
    }
}