<div class="container">
    <h3 class="title">Send us a Message</h3>

<form class="container-form">
    
        <li>
            <input class="input" type="text" id="name" placeholder="Name">     
        </li>
        <li>
            <input class="input" type="email" id="mail" placeholder="Email">     
        </li>
        <li>
            <input class="input" type="tel" id="phone" placeholder="Phone">     
        </li>

        <p class="select-preferred">Preferred contact method of communication</p>

        <div class="radio">
            <input type="radio" name="boton">Email<br>
            <div class="margin">
               <input type="radio" name="boton">Phone<br> 
            </div>     
        </div>
        
        <div>
            <textarea class="textarea" name="texto" rows="4" cols="40" placeholder="Message"></textarea>          
        </div>
    
    
    <div class="container-btn">
        <button class="btn-submit">Submit</button>      
    </div>
   
           
</form>
    
</div>
