<div class="general">

    <div class="header">
        <img class="doctor" src="assets/mobile-navigation/profile-doctor.png">
        <div class="name-description">
            <h3>The Doctor</h3>
            <p>President of the world</p>
            
        </div>
    </div>
    
    <hr>

    <div class="options-menu">
        
        <img class="icon" src="assets/mobile-navigation/users.png"> 
        <li>Personal Data <span>></span></li>
        <img class="icon" src="assets/mobile-navigation/sms.png">
        <li>Messages <span>></span></li>
        <img class="icon" src="assets/mobile-navigation/bell.png">
        <li>Notifications <span>></span></li>
        <img class="icon" src="assets/mobile-navigation/marker.png">
        <li>Location <span>></span></li>
        <img class="icon" src="assets/mobile-navigation/users-alt.png">
        <li>Community <span>></span></li>
    </div>

    <hr>

    <div class="settings">
        <img class="icon" src="assets/mobile-navigation/tardis.png">
        <li>Tardis <span>></span></li>
        <img class="icon" src="assets/mobile-navigation/settings-sliders.png">
        <li>Settings <span>></span></li>
    </div>

    <div class="nav">
        <nav class="icons-nav">
            <img src="assets/mobile-navigation/home.png">
            <img src="assets/mobile-navigation/world.png">
            <img src="assets/mobile-navigation/envelope.png">
            <img src="assets/mobile-navigation/user.png">
        </nav>
    </div>

</div>
