<div class="card">
    <div class="display-items container-header">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <img src="assets/profile-card/deadpool-profile.jpg" class="card-img-top" alt="...">
    </div>
    
    <div class="card-body">
      <h5 class="card-title display-items">Wade Wilson</h5>
      <h6 class="card-link display-items">&#64;deadpool</h6>
      <div class="icons-card">
        <img src="assets/profile-card/facebook.png" class="icon-facebook cursor" alt="...">
        <img src="assets/profile-card/linkedin.png" class="icon-linkedin cursor" alt="...">
        <img src="assets/profile-card/youtube.png" class="icon-youtube cursor" alt="...">
        <img src="assets/profile-card/instagram.png" class="icon-instagram cursor" alt="...">
        <img src="assets/profile-card/dribbble.png" class="icon-dribbble cursor" alt="...">
      </div>
      <p class="card-text display-items">Hi! I'm Deadpool, the most handsome and crazy mercenary you'll ever meet. I'm immortal thanks to my healing factor, so I always come back for more. My red suit hides the blood, and I talk to you directly because I know you're there! I'm funny, unpredictable, and even though I seem weird, I sometimes do the right thing... my way. See you around!</p>
      <div class="position-btn">
        <a href="#" class="btn btn-primary">Follow</a>
        <a href="#" class="btn btn-primary message">Message</a>
      </div>
   
    </div>
  </div> 