<div class="title-home">
  <h1>Challenges Sara <span class="code-decor">..&lt;/&gt;</span> </h1>
</div>


<div class="container">
  <div class="card-group">
    <div class="card" style="width: 18rem;" *ngFor="let challenge of challenges">
      <img [src]="challenge.image" class="card-img-top" alt="{{ challenge.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ challenge.title }}</h5>
        <span>{{ challenge.day }}</span>
        <p class="card-text">{{ challenge.description }}</p>
        <a href="#" class="btn btn-primary" (click)="openChallenge(challenge.title, challenge.content)">Open Challenge</a>
      </div>
    </div>
  </div>
</div>

<app-modal 
  [isOpen]="isModalOpen" 
  [title]="modalTitle" 
  [content]="modalContent"
  (modalClosed)="onModalClosed()">
</app-modal>

<router-outlet />