<div class="container">
    <div class="peppers">
       <img src="assets/recipe/stuffed-peppers.webp" alt="Stuffed Peppers"> 
    </div>


    <div class="section-recipe">
    
    <div class="title">
        <span>* * * * * (189)</span>
        <h1>Stuffed peppers with rice and sauce</h1>
    </div>

    <div class="recipe">
    <div class="recipe-time">

    </div>

    <p class="description">Use small colored peppers for this Halloween decoration!</p>
    
    <div class="ingredients">
        <h5>Ingredients</h5>
        <li><input type="checkbox">8 medium-sized colored bell peppers</li>
        <li><input type="checkbox">1 red bell pepper</li>
        <li><input type="checkbox">400 grams of long-grain rice</li>
        <li><input type="checkbox">1 onion</li>
        <li><input type="checkbox">1 handful of raisins</li>
        <li><input type="checkbox">A splash of soy sauce</li>
        <li><input type="checkbox">Olive oil, Salt, Pepper and black olives</li>
    </div>

    <div class="instructions">
        <h5>Instructions</h5>
        <li>Preheat oven to 200°C.</li>
        <li>Prepare colored bell peppers: cut off tops, remove seeds, and carve eyes and mouth.</li>
        <li>Place on a tray, drizzle with oil, season, and roast for 30 mins.</li>
        <li>Cook rice with oil, water, and salt for 15-18 mins.</li>
        <li>Chop red bell pepper and onion, sauté in oil.</li>
        <li>Add raisins, rice, soy sauce, and mix well.</li>
        <li>Fill peppers, garnish with olives, and top with lids.</li>
    </div>

    </div>


</div>
    
</div>
