<div class="general">

<div class="main-container">

    <div class="container-img">
        <img class="product" *ngFor="let product of products" 
        (click)="openImg(product.img)" [src]="product.img" >
    </div>

    <div class="focus-img">
        <img class="expanded" [src]="expandedImgUrl">
    </div>

    <div class="container-bag">

    <div class="container-title">
        <p class="brand">Pokémon series</p>
        <h1>Pokémon slippers for winter</h1>
        <p class="description">Non-slip, warm, cotton and plush slippers, from the Pokémon series</p>
    </div>
    
    <div class="container-price">
        <p class="price">$17.98</p>
        <p class="discount"> -20% </p>
    </div>

    <p class="before">$22.00</p>

    <div class="choose-size">
        <p class="title-size">Choose Size</p>
        <div class="size-selector">
            <li [class.selected]="selectedSize === 36" (click)="selectSize(36)">36</li>
            <li [class.selected]="selectedSize === 37" (click)="selectSize(37)">37</li>
            <li [class.selected]="selectedSize === 38" (click)="selectSize(38)">38</li>
            <li [class.selected]="selectedSize === 39" (click)="selectSize(39)">39</li>
            <li [class.selected]="selectedSize === 40" (click)="selectSize(40)">40</li>  
        </div>
        
    </div>
    
    <div class="add-btn">
        <button class="btn-bag">Add to bag</button>
    </div>
    
</div>
    </div>


</div>

