<div class="modal-overlay" *ngIf="isOpen" (click)="closeModal()"></div>
<div class="modal" *ngIf="isOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ title }}</h2>
    <ng-container *ngIf="title === 'Profile Card'">
        <app-profile-card></app-profile-card>
      </ng-container>

      <ng-container *ngIf="title === 'Add To Bag'">
        <app-add-to-bag></app-add-to-bag>
      </ng-container>

      <ng-container *ngIf="title === 'Mobile Navigation'">
        <app-mobile-navigation></app-mobile-navigation>
      </ng-container>

      <ng-container *ngIf="title === 'Contact Us'">
        <app-contact-us></app-contact-us>
      </ng-container>
  </div>
</div>

